<section
        id="call-to-action"
        class="call-to-action section dark-background"
      >
        <!-- Pastikan gambar background relevan dengan tema teknologi/desain -->
        <img src="assets/img/bg/bg-8.webp" alt="Latar Belakang Kafeinarts" />

        <div class="container">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-9 text-center text-xl-start">
              <h3>Siap Mewujudkan Ide Digital Anda?</h3>
              <p>
                Jangan biarkan ide cemerlang Anda hanya menjadi rencana. Baik
                itu pengembangan aplikasi SaaS, sistem manajemen, hingga solusi
                cloud, kami siap berkolaborasi merancang teknologi yang
                mempercepat pertumbuhan bisnis Anda. Mari diskusikan kebutuhan
                Anda bersama Kafeinarts.
              </p>
            </div>
            <div class="col-xl-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#contact"
                >Mulai Konsultasi</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->